body{
    margin:0;
    background:darkgray;
    overflow:hidden;
    text-align:center;
}

#VechicleCanvas{
    background:lightgray;
}

#verticalButtons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}